* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./Images/url1.jpg");
  background-size: cover;
  background-position: center;    
}

.App {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./Images/url2.jpg");
  background-size: cover;
  background-position: center;
  width: 700px;
  height: auto;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.app_input {
  margin: 18px;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px grey;
}

.app_btn1 {
  width: 180px;
  height: auto;
  margin: 12px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  cursor: pointer;
}

.app_btn1_heading {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 100;
}

.app_btn2 {
  width: 180px;
  height: auto;
  margin: 12px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  cursor: pointer;
}

.app_url {
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}